[submodule "ModernWpf"]
	path = ModernWpf
	url = https://github.com/TBM13/ModernWpf.git
[submodule "Plugins/Flow.Plugin.RegJump"]
	path = Plugins/Flow.Plugin.RegJump
	url = https://github.com/TBM13/Flow.Plugin.RegJump.git
